## CLASS NO. 2

### 1. Basic syntax

In [1]:
# printing something 
print("india won asia cup 2023")
print('india won by 10 wickets')

india won asia cup 2023
india won by 10 wickets

### 2. Operators

In [2]:
## arithematic operators 
print(2+3) #addition
print(4-5)  #subtraction
print(5*5) #multiplication 
print(7/3) #division
print(33%2) #modulus
print(2**7) #exponential
print(9^3) #XOR operator 
print(9//3) #floor division

5
-1
25
2.3333333333333335
1
128
10
3

In [6]:
## assignment operator 
b = 4
b -= 3 #b = b-3

a = 5

In [ ]:
# comparison operator 
a == b #a is equal to b 
a != b # a is not equal to b 
a > b # a is greater than b 
a <= b # a is leass than or equal to b

False

In [ ]:
## logical operator
## AND OR NOT

### 3. Data Types + Variable def

In [8]:
## string;
s = 'cricket'

# indexing: counting starts from 0 in python 
 
print(type(s)) # display tha data type of varaiable

<class 'str'>

In [ ]:
## integer
a = 5 # integer
c = '5' #string
d = 4.17 #float

#### TASK 1

In [ ]:
## DATA TYPES
1. string  #text type
2. int, float, complex #numeric

3. list 
e.g  
x = ["apple", "banana", "cherry"] 

4. tuple
e.g
y = ("apple", "banana", "cherry")

5. bool
z = True
z = False 

6. set 
e.g
{"apple", "banana", "cherry"}

### 4. Input functions

In [3]:
sri_score = input("Sri_score:")
print('sirilanka scored', sri_score) #concatenation

sirilanka scored 50 runs

In [6]:
# initial score , 5 grace , print updated score

##score to btao

score = int(input("Score:")) #type conversion: string to integer
updated_score = score + 5
print("Your latest score is:", updated_score)

Your latest score is: 35

#### TASK 2

In [9]:
## tax wrt age
age = int(input('Age:'))
print('no tax as age is:', age) #no tax if age >18

no tax as age is: 15

In [12]:
## tax wrt age
age = int(input('Age:'))
print('tax is 1.2 %:', age) #tax is 1.2 % if age is 18 -30

tax is 1.2 %: 25

In [13]:
## tax wrt age
age = int(input('Age:'))
print('tax is 2% if age is', age)

tax is 2% if age is 40

In [14]:
## tax wrt age
age = int(input('Age:'))
print('no tax as age is:', age) #no tax if age <50

no tax as age is: 55

#### TASK 3

In [15]:
## converting string to float 

string = "22.17"
  
# using float method to convert string to float
num = float(string)
  
print(num)
print(type(num))

22.17
<class 'float'>

### 5. if else elif

In [16]:
# if else

## even or odd number
num = int(input("Enter a Number: "))  # input function to take user's input and convert it into integer.
if num %2 == 0:
    #print("Even Number")
    print(num, "is even.")
else:
    #print("Odd Number")
    print(num, "is odd.")

66 is even.

In [17]:
# if elif else

num = float(input("Enter a Number: "))  # input function to take user's input and convert it into integer.
if num %2 == 0:
    #print("Even Number")
    print(num, "is even.")
elif num %2 == 1:
    #print("Odd Number")
    print(num, "is odd.")
else:
    print("Number is not integer")

Number is not integer

### 6. Functions

In [18]:
# area of the rectangle

def area(length, width):
    area = length*width
    print("area of the rectangle is:", area)

In [19]:
area(4,5)

area of the rectangle is: 20

### 7. Loops

In [25]:
## for loop
food = ['biryani','karahi','naan','dahi bhalay'] #khanay ki list
for x in food:
 print(x) #local varibale
#print(x) #global varibale

biryani
karahi
naan
dahi bhalay

In [22]:
## while loop

i = 1
while i < 5:
    print(i)
    if i == 3:
        break
    i +=1

1
2
3

In [24]:
food = ['biryani','karahi','naan','dahi bhalay'] #khanay ki list
for i in food:
    print(i)
    if i == 'naan':
        break

biryani
karahi
naan